<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="ISO-8859-1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bugtracker.css">
        <title>Bug Tracker v1.0</title>
    </head>

    <body>
        <div class='container-fluid'>

            <!-- The header with project name and logout link -->
            <div class="row bugtracker-header">
                <div class="col">
                    <h2>
                        Bug Tracker
                    </h2>
                </div>

                <div class="col d-flex flex-row-reverse bd-highlight">
                    <div class="p-2 bd-highlight">
                        <a href="/logout" style="color:white">Logout</a>
                    </div>
                    <div class="p-2 bd-highlight">
                        <img th:src="${user.picture == null} ? '/images/person.svg' : ${user.picture}"
                             class="rounded-circle" width="35" height="35">
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-lg-6">

                    <div class="row">
                        <span class="h2 m-3">Edit Configuration</span>
                    </div>

                    <!-- HTML form to add a new project -->
                    <form th:action="@{/bugtracker/ui/admin/add-project}" method="post">

                        <div class="d-flex mb-4 ms-3">
                            <div class="form-outline me-3" style="width: 14rem">
                                <input type="text" required th:name="project" class="form-control me-2" placeholder="Add project">
                            </div>

                            <button class="btn btn-primary" type="submit">Add project</button>
                            <a th:href="@{/bugtracker/ui/show-bugs}"
                               class="btn btn-primary ms-2"
                               role="button">Cancel</a>
                        </div>
                    </form>

                    <!-- Display all the projects  -->
                    <table class="table table-striped table-bordered ms-3">
                        <thead>
                            <tr class="table-primary">
                                <th>Project</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="cfg: ${configuration.projects}">
                                <td><label th:text="${cfg}"/></td>
                                <td>
                                    <a th:href="@{/bugtracker/ui/admin/remove-project(project=${cfg})}"
                                       class="ms-2">Remove</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </body>
</html>